body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 8px 0 20px 0;
    color: #007bff;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
}

ul {
    margin: 0;
}

.col-lg-4 {
    height: 24px;
}

.filters {
    text-align: center;
    margin: 12px 12px;
}

.key-box {
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 11px;
    padding: 4px;
}

.ship-title {
    margin: 10px 0 16px 14px;
}

.key {
    display: flex;
    flex-direction: row;
}

.key-description {
    font-size: 14px;
    margin: 8px;
    margin-bottom: 12px;
}

.ship-section {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#ship-dropdown {
    margin-left: 10px;
}

.area {
    margin-bottom: 0.5rem;
}

.area-name {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.area-subcategory {
    padding: 0 8px;
}

.area-box {
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 11px;
    padding: 4px;
}

.area-box.Legacy {
    background-color: #ffffff;
    color: #000000;
}

.area-box.Queued {
    background: repeating-linear-gradient(45deg,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 0, 1) 10px,
            rgba(255, 0, 0, 0.8) 10px,
            rgba(255, 0, 0, 0.8) 20px);
    color: #ffffff;
}

.area-box.Failed {
    background: repeating-linear-gradient(45deg,
            rgba(80, 80, 80, 1),
            rgba(80, 80, 80, 1) 10px,
            yellow 10px,
            yellow 20px);
    color: #ffffff;
}

.area-box.WIP {
    background: repeating-linear-gradient(45deg,
            rgba(255, 165, 0, 1),
            rgba(255, 165, 0, 1) 10px,
            rgba(255, 165, 0, 0.8) 10px,
            rgba(255, 165, 0, 0.8) 20px);
    color: #000000;
}

.area-box.NoData {
    background: repeating-linear-gradient(45deg,
            rgba(128, 128, 128, 1),
            rgba(128, 128, 128, 1) 10px,
            rgba(128, 128, 128, 0.9) 10px,
            rgba(128, 128, 128, 0.9) 20px);
    color: #ffffff;
}

.area-box.Completed {
    background: repeating-linear-gradient(45deg,
            rgba(0, 128, 0, 0.8),
            rgba(0, 128, 0, 0.8) 10px,
            rgba(0, 128, 0, 0.7) 10px,
            rgba(0, 128, 0, 0.7) 20px);
    color: #ffffff;
}

@media (max-width: 992px) {
    .area-box {
        width: 95%;
        margin: 2.5%;
        margin-bottom: 0px;
    }

    .area-name {
        list-style: none;
        margin-left: -32px;
    }
}